body{
    background:-webkit-radial-gradient(circle,#299020,#075800);
    color: white;
    text-align: center;
}
td{
    border: 1px solid black;
    width:100px;
    height:100px;
    text-align: center;
    font-size: 15px;
    background-color: #ffffe6;
}
table{
    margin: auto;
}
img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.navbar{
    background-color: #996633;
}