<!DOCTYPE html>
<html lang="en" style="padding-top: 80px;">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Mahjong Online</title>

        <link href="bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">

        <script src="jquery/jquery.js"></script>
        <script src="bootstrap/bootstrap.min.js"></script>
        <script src="main.js"></script>
    </head>

    <body>
        <nav class="navbar-expand-md bg-dark navbar-dark fixed-top">
            <h1 id="state">Game state</h1>
        </nav>
        
        <main role="main">
            <div class="container">
                <h2>Thrownaway</h2>
                <div class="row thrown"></div>
            </div>

            <div class="container">
                <h3>East</h3>
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <button id="eShang" class="btn btn-primary btn-sm btn-block">Shang</button>
                            </div>
                            <div class="col-md-4">
                                <button id="ePong" class="btn btn-warning btn-sm btn-block ">Pong</button>    
                            </div>
                            <div class="col-md-4">
                                <button id="eKong" class="btn btn-danger btn-sm btn-block">Kong</button>  
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="hand" id="eastHand"></div>
                </div>

                <h4>East's reveal</h4>
                
                <div class="hand" id="eastReveal"></div>
            </div>

            <div class="container">
                <h3>South</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <button id="sShang" class="btn btn-primary btn-sm btn-block">Shang</button>
                    </div>
                    <div class="col-md-4">
                        <button id="sPong" class="btn btn-warning btn-sm btn-block ">Pong</button>    
                    </div>
                    <div class="col-md-4">
                        <button id="sKong" class="btn btn-danger btn-sm btn-block">Kong</button>    
                    </div>
                </div>

                <div class="container">
                    <div class="hand" id="southHand"></div>
                </div>

                <h4>South's reveal</h4>

               <div class="hand" id="southReveal"></div>
            </div>

            <div class="container">
                <h3>West</h3>
                <div class="row">
                    <div class="col-md-4">
                        <button id="wShang" class="btn btn-primary btn-sm btn-block">Shang</button>
                    </div>
                    <div class="col-md-4">
                        <button id="wPong" class="btn btn-warning btn-sm btn-block ">Pong</button>    
                    </div>
                    <div class="col-md-4">
                        <button id="wKong" class="btn btn-danger btn-sm btn-block">Kong</button>    
                    </div>
                </div>
                
                <div class="container">
                    <div class="hand" id="westHand"></div>
                </div>

                <h4>West's reveal</h4>
                
                <div class="hand" id="westReveal"></div>

            </div>

            <div class="container">
                <h3>North</h3>
                <div class="row">
                    <div class="col-md-4">
                        <button id="nShang" class="btn btn-primary btn-sm btn-block">Shang</button>
                    </div>
                    <div class="col-md-4">
                        <button id="nPong" class="btn btn-warning btn-sm btn-block ">Pong</button>    
                    </div>
                    <div class="col-md-4">
                        <button id="nKong" class="btn btn-danger btn-sm btn-block">Kong</button>    
                    </div>
                </div>

                <div class="container">
                    <div class="hand" id="northHand"></div>
                </div>

                <h4>North's reveal</h4>

                <div class="hand" id="northReveal"></div>

            </div>
        </main>
    </body>
    <footer></footer>
</html>
