<!DOCTYPE html>

<html lang="en" style="padding-top: 80px;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mahjong</title>

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">

    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="main.js"></script>
    
    <style>
        td{
            border: 1px solid black;
            width:100px;
            height:100px;
            text-align: center;
            font-size: 15px;
        }
        body{
            text-align: center;
        }
        table{
            margin: auto;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Mahjong</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>


    <main role="main">
        <div class="container">
            <h1>Game state</h1>
            <br>
            <h3>Trash</h3>
            <div class="row">
                <table>
                    <tr><td id="trash">test</td></tr>
                </table>
            </div>
        </div>

        <div class="container">
            <br>
            <h4>East</h4>
            <div class="row">
                <table>
                    <tr>
                        <td id="E00"></td>
                        <td id="E01"></td>
                        <td id="E02"></td>
                        <td id="E03"></td>
                        <td id="E04"></td>
                        <td id="E05"></td>
                        <td id="E06"></td>
                        <td id="E07"></td>
                        <td id="E08"></td>
                        <td id="E09"></td>
                        <td id="E10"></td>
                        <td id="E11"></td>
                        <td id="E12"></td>
                        <td id="E13"></td>
                    </tr>
                </table>
            </div>
            <h6>revealed</h6>
            <div class="row">
                <table>
                    <tr>
                        <td id="ER00"></td>
                        <td id="ER01"></td>
                        <td id="ER02"></td>
                        <td id="ER03"></td>
                        <td id="ER04"></td>
                        <td id="ER05"></td>
                        <td id="ER06"></td>
                        <td id="ER07"></td>
                        <td id="ER08"></td>
                        <td id="ER09"></td>
                        <td id="ER10"></td>
                        <td id="ER11"></td>
                        <td id="ER12"></td>
                        <td id="ER13"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="container">
            <br>
            <h4>South</h4>
            <div class="row">
                <table>
                    <tr>
                        <td id="S00"></td>
                        <td id="S01"></td>
                        <td id="S02"></td>
                        <td id="S03"></td>
                        <td id="S04"></td>
                        <td id="S05"></td>
                        <td id="S06"></td>
                        <td id="S07"></td>
                        <td id="S08"></td>
                        <td id="S09"></td>
                        <td id="S10"></td>
                        <td id="S11"></td>
                        <td id="S12"></td>
                        <td id="S13"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="container">
            <br>
            <h4>West</h4>
            <div class="row">
                <table>
                    <tr>
                        <td id="W00"></td>
                        <td id="W01"></td>
                        <td id="W02"></td>
                        <td id="W03"></td>
                        <td id="W04"></td>
                        <td id="W05"></td>
                        <td id="W06"></td>
                        <td id="W07"></td>
                        <td id="W08"></td>
                        <td id="W09"></td>
                        <td id="W10"></td>
                        <td id="W11"></td>
                        <td id="W12"></td>
                        <td id="W13"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="container">
            <br>
            <h4>North</h4>
            <div class="row">
                <table>
                    <tr>
                        <td id="N00"></td>
                        <td id="N01"></td>
                        <td id="N02"></td>
                        <td id="N03"></td>
                        <td id="N04"></td>
                        <td id="N05"></td>
                        <td id="N06"></td>
                        <td id="N07"></td>
                        <td id="N08"></td>
                        <td id="N09"></td>
                        <td id="N10"></td>
                        <td id="N11"></td>
                        <td id="N12"></td>
                        <td id="N13"></td>
                    </tr>
                </table>
            </div>
        </div>

    </main>

</body>

</html>
